h1{
    text-align: center;
    font-size: 2rem;
    font-family: Times New Roman;
    Display: block;
    margin: 15px 0 0 0;
  }
  #main p{
    text-align: center;
  }
  #img-caption{
    text-align: center;
    margin: 10px;
  }
  figcaption{
    display: block;
  }
  #headline{
    text-align : center;
    margin: 40px 0;
  }
  li{
    margin-top: 25px;
    margin-left: 380px;
    margin-right: 380px;
  }
  img{
    display: block;
  }
  #image{
    max-width:100%;
    height: 500px;
    margin-left: 450px;
  }
  #quote{
    font-weight: 200;
    word-spacing: 0.5px;
    font-family: arial;
    font-style: italic;
    max-width: 545px;
    margin: 50px auto 10px auto;
    text-align: left;
  
  }
  #tribute-info{
    font-size: 1rem;
    font-family: arial;
  }
  body{
    background-color: #1b1b32;
    color: white;
  }
  h4{
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  #tribute-link{
    color: #20B2AA;
  }
  #main{
    padding: 15px;
    margin: 15px 15px;
    border-radius: 5px;
  }
  